RewriteEngine On

# Gestion du cookie lang à partir du paramètre lang dans l'URL
RewriteCond %{QUERY_STRING} lang=(fr|en) [NC]
RewriteRule ^ - [CO=lang:%1:.slint-ng.org:1440:/]

# On ne redirige que si l'URL ne commence pas par une langue (fr ou en)
RewriteCond %{REQUEST_URI} !^/(fr|en)/

# Si cookie lang existe, redirige vers la langue du cookie
RewriteCond %{HTTP:Cookie} lang=(fr|en) [NC]
RewriteRule ^$ /%1/ [R=302,L]

# Sinon détecte Accept-Language et redirige
RewriteCond %{HTTP:Cookie} !lang= [NC]
RewriteCond %{REQUEST_URI} !^/(fr|en)/
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^$ /fr/ [R=302,L]

RewriteCond %{HTTP:Cookie} !lang= [NC]
RewriteCond %{REQUEST_URI} !^/(fr|en)/
RewriteCond %{HTTP:Accept-Language} ^en [NC]
RewriteRule ^$ /en/ [R=302,L]

# Sinon redirige vers français par défaut
RewriteCond %{HTTP:Cookie} !lang= [NC]
RewriteCond %{REQUEST_URI} !^/(fr|en)/
RewriteRule ^$ /fr/ [R=302,L]
